<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mobileBackends</key>
	<dict>
		<key>MBE_CloudCafe/1.0</key>
		<dict>
			<key>synchronization</key>
			<dict>
				<key>maxStoreSize</key>
				<integer>100</integer>
				<key>periodicRefreshPolicy</key>
				<string>PERIODIC_REFRESH_POLICY_REFRESH_NONE</string>
				<key>periodicRefreshInterval</key>
				<integer>100</integer>
				<key>policies</key>
				<array>
					<dict>
						<key>path</key>
						<string>/mobile/custom/managerobject/**</string>
						<key>fetchPolicy</key>
						<string>FETCH_FROM_SERVICE_IF_ONLINE</string>
						<key>expirationPolicy</key>
						<string>EXPIRE_AFTER</string>
						<key>expireAfter</key>
						<string>300</string>
						<key>evictionPolicy</key>
						<string>MANUAL_EVICTION</string>
						<key>updatePolicy</key>
						<string>QUEUE_IF_OFFLINE</string>
						<key>conflictResolutionPolicy</key>
						<string>PRESERVE_CONFLICT</string>
					</dict>
				</array>
				<key>defaultPolicy</key>
				<dict>
					<key>fetchPolicy</key>
					<string>FETCH_FROM_SERVICE_IF_ONLINE</string>
					<key>evictionPolicy</key>
					<string>EVICT_ON_EXPIRY_AT_STARTUP</string>
					<key>expirationPolicy</key>
					<string>EXPIRE_AFTER</string>
					<key>expireAfter</key>
					<string>600</string>
					<key>conflictResolutionPolicy</key>
					<string>CLIENT_WINS</string>
				</dict>
			</dict>
			<key>default</key>
			<true/>
			<key>baseURL</key>
			<string>http://slc08ana.us.oracle.com:7777</string>
			<key>appKey</key>
			<string>86f23a25-a77e-448d-81ff-f0509147c6d1</string>
			<key>authorization</key>
			<dict>
				<key>authenticationType</key>
				<string>basic</string>
				<key>OAuth</key>
				<dict>
					<key>tokenEndpoint</key>
					<string>http://slc09kia.us.oracle.com:14100/oam/oauth2/tokens</string>
					<key>clientID</key>
					<string>0f1284aa-13b8-428f-8fab-841a1734d0c1</string>
					<key>clientSecret</key>
					<string>jHDHAahboUZDEXzQSVP3</string>
				</dict>
				<key>Basic</key>
				<dict>
					<key>mobileBackendID</key>
					<string>098f9c76-d457-4379-9e61-994d4a582083</string>
					<key>anonymousKey</key>
					<string>UFJJTUVfREVDRVBUSUNPTl9NT0JJTEVfQU5PTllNT1VTX0FQUElEOnZrZWJxUmwuamEwbTdu</string>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>logLevel</key>
	<string>debug</string>
</dict>
</plist>
