<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mobileBackends</key>
	<dict>
		<key>MBE_CloudCafe/1.0</key>
		<dict>
			<key>synchronization</key>
			<dict>
				<key>maxStoreSize</key>
				<integer>100</integer>
				<key>periodicRefreshPolicy</key>
				<string>PERIODIC_REFRESH_POLICY_REFRESH_NONE</string>
				<key>periodicRefreshInterval</key>
				<integer>100</integer>
				<key>policies</key>
				<array>
					<dict>
						<key>path</key>
						<string>/mobile/custom/managerobject/**</string>
						<key>fetchPolicy</key>
						<string>FETCH_FROM_SERVICE_IF_ONLINE</string>
						<key>expirationPolicy</key>
						<string>EXPIRE_AFTER</string>
						<key>expireAfter</key>
						<string>300</string>
						<key>evictionPolicy</key>
						<string>MANUAL_EVICTION</string>
						<key>updatePolicy</key>
						<string>QUEUE_IF_OFFLINE</string>
						<key>conflictResolutionPolicy</key>
						<string>PRESERVE_CONFLICT</string>
					</dict>
				</array>
				<key>defaultPolicy</key>
				<dict>
					<key>fetchPolicy</key>
					<string>FETCH_FROM_SERVICE_IF_ONLINE</string>
					<key>evictionPolicy</key>
					<string>EVICT_ON_EXPIRY_AT_STARTUP</string>
					<key>expirationPolicy</key>
					<string>EXPIRE_AFTER</string>
					<key>expireAfter</key>
					<string>600</string>
					<key>conflictResolutionPolicy</key>
					<string>CLIENT_WINS</string>
				</dict>
			</dict>
			<key>default</key>
			<true/>
			<key>baseURL</key>
			<string>http://ott120030.ca.oracle.com:7777</string>
			<key>appKey</key>
			<string>61b053d9-9416-44e0-8726-93cb4ccf987c</string>
			<key>authorization</key>
			<dict>
				<key>authenticationType</key>
				<string>basic</string>
				<key>OAuth</key>
				<dict>
					<key>tokenEndpoint</key>
					<string>http://slc09kia.us.oracle.com:14100/oam/oauth2/tokens</string>
					<key>clientID</key>
					<string>c2682292-a6eb-4ef0-9049-5a0fa3cd7d9f</string>
					<key>clientSecret</key>
					<string>vUNbvpSpNIIuCHlmqHX1</string>
				</dict>
				<key>Basic</key>
				<dict>
					<key>mobileBackendID</key>
					<string>ce52f318-b419-4502-ad3b-f623c066cfad</string>
					<key>anonymousKey</key>
					<string>UFJJTUVfREVDRVBUSUNPTl9NT0JJTEVfQU5PTllNT1VTX0FQUElEOnZrZWJxUmwuamEwbTdu</string>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>logLevel</key>
	<string>debug</string>
</dict>
</plist>
